<div id="sidebar">
    <ul>
            <li>
                    <h2>Хотим Вам еще сказать: </h2>
                    <ul>
                            <li><a href="#">Наши услуги просто супер</a></li>
                            <li><a href="#">Супер афигенные</a></li>
                            <li><a href="#">Мы заставляем самолёты летать</a></li>
                            <li><a href="#">И платить</a></li>
                    </ul>
            </li>

            <li>
                    <h2>А еще хотим вам скать что:</h2>
                    <ul>
                            <li><a href="#">Наши конкуренты - говно</a></li>
                            <li><a href="#">Еще раз закрепим: конкуренты - говно.</li>
                    </ul>
            </li>
    </ul>
</div>