<p id="notice"><%= notice %></p>

<p>
  <b>Найменування послуги</b>
  <%= @service.name %>
</p>

<!--
<p>
  <b>Вартість</b>
  < @service.price %>
</p>
-->

<%= link_to 'редагувати', edit_service_path(@service) %> |
<%= link_to 'Назад', services_path %>
