<div id="sidebar_doc">
  <div id="user_nav">

    <% if notice or alert %>
      <p class="notice"> <%= notice%></p>
      <p class="alert"> <%= alert%></p>
    <% end %>

  </div>

<h4>Документи за категоріями:</h4>
<div id="doctree"></div>

</div>