
  <div id="content">
      <h2>Информация о компании</h2>

      <%= render @start_articles %>

      <%= admin_link_to 'Добавить информацию', new_start_article_path %>

  </div>

  <!-- end #content -->
      <%= render "layouts/sidebar" %>
  <!-- end #sidebar -->

