  <div id="content_ajax">
      <%= render "layouts/sidebar" %>
      <h2>Информация о компании</h2>

      <%= render @start_articles %>

      <%= admin_link_to 'Добавить информацию', new_start_article_path %>

  </div>

  <!-- end #content -->
  <!-- end #sidebar -->

