<p id="notice"><%= notice %></p>

<p>
  <b>Інформація:</b>
  <%= @start_article.content %>
</p>


<%= link_to 'Редагувати', edit_start_article_path(@start_article) %> |
<%= link_to 'Назад', start_articles_path %>
