<div id="content_ajax">
  <h2>Контактная инфомация, реквизиты.</h2>
  <ul>
    <li>По телефону 333-222</li>
    <li>По факсу 333-111</li>
    <li>По E-mail str@localhost.com</li>
    <li>Наш адрес:  49000, Украина, г. Киев, ул. Уличная, 111, оф.11 </li>
  </ul>
</div>ы