<div id="content_ajax">
  <h2>Контактна инфомація, реквізити.</h2>
<br/>
<h3> Українською: </h3>
  <ul>
    <li>Найменування: Товариство з обмеженою відповідальністю "Столичний реєстратор"</li>
    <li>тел: (044) 417-43-80</li>
    <li>адреса:04053, Україна, Київ, Кудрявський узвіз, 7</li>
  </ul>

<h3> На русском: </h3>
  <ul>
    <li>Наименование: Общество с ограниченной ответственностью "Столичний регистратор"</li>
    <li>тел: (044) 417-43-80</li>
    <li>адрес:04053, Украина, Киев, Кудрявский спуск, 7</li>
  </ul>

</div>